.aright{
	
}
form .x_input{
	width: 150px;
	margin-top: 5px;
}
input,img{vertical-align:middle;}

.aright{
	padding-left: 20px;
}
form .validatebox-invalid{
	border-color:  #fff;
	background-color: #fff;
}